/node_modules
/own_folder

39_css_text.html
39_css_text.css

40_css_transition.html
40_css_transition.css

41_css_animation.html
41_css_animation.css

42_css_transform.html
42_css_transform.css